.span-loader {
    height: 18px;
    border-radius: 50%;
    width: 18px;
    border: 2px solid white;
    border-top: 2px solid #38eb36;

    margin-right: 12px;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
